@import 'variables';

.signInButton {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background-color: $blue;
  border: 0;
  border-bottom: 2px solid #3160B6;
  cursor: pointer;
  transition: all 0.15s ease;
  padding: 1em 0px;
  margin-top: 2em;
}
.button:focus { outline: 0; }

.googleSignInButton {
  @extend .signInButton;
  text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}
