@import 'variables';

@mixin card($width) {
	width: $width;
	background: $card_background;
  margin: auto;
  padding: 2em;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}
