/* Colors */
$primary: #37474F;
$primary_dark: #263238;
$primary_light: #CFD8DC;
$accent: #9575CD;
$accent_dark: #7E57C2;
$accent_ripple: #673AB7;
$primary_text: #424242;
$secondary_text: #616161;
$blue: #4a89dc;
$card_background: #fafafa;
